<template>
  <div id="app">
    <p> Store.count = {{ $store.state.count }} </p>
    <button @click="increment">+</button>
    
  </div>
</template>

<script>
import { mapActions } from 'vuex'


export default {
  name: 'app',
  data () {
    return {
      stateStore: 'Hey..'
    }
  },
  methods: mapActions([
    'increment'
  ])
}
</script>
